<ion-header>
    <ion-navbar hideBackButton>
        <ion-title><span class="mp-title-icon" style="background-image: url(assets/images/svg/showTimesIco.white.svg); background-position-y: 0.1em;"></span>ShowTimes</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="showtimes-header">{{selectedMovie.title}}, Show Times {{selectedMovie.year}}</div>

    <hr>

    <div class="movie-showtimes">
        <div class="showtimes-section">
            <div class="showtimes-type">Standard</div>
            <div class="showtimes-list">
                <div class="showtime" *ngFor="let showtime of selectedMovie.showtimes[0].standard; let i=index">{{showtime.showtime}}</div>
            </div>
        </div>

        <hr>

        <div class="showtimes-section">
            <div class="showtimes-type">3D</div>
            <div class="showtimes-list">
                <div class="showtime" *ngFor="let showtime of selectedMovie.showtimes[0]['3d']; let i=index ">{{showtime.showtime}}</div>
            </div>
        </div>

    </div>

</ion-content>