<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{(fan) ? fan.feed.description : fan}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content *ngIf="movies" class="outer-content speaker-list" >
  <section *ngFor="let f of movies | async" >
    <span>
      <p (click)="f.show=!f.show">{{f.title}}</p>
      <article *ngIf="f.show" [innerHTML]="f.content">
      </article>
    </span>
  </section>
  

    <form (ngSubmit)="getDeviceData()">
      <ion-item>
        <ion-label>Device ID</ion-label>
        <ion-input type="url" [(ngModel)]="url" name="URL"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Device Key</ion-label>
        <ion-input type="text" [(ngModel)]="key" name="key"></ion-input>
      </ion-item>
      <button ion-button type="submit" block>Get Data</button>
    </form>



<pre>{{m2eData}}</pre>
</ion-content>