<ion-split-pane>

  <!-- logged out menu -->
  <ion-menu id="loggedOutMenu" [content]="content">

    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="outer-content">

      <ion-list>
        <ion-list-header>
          Navigate
        </ion-list-header>
        <button ion-item menuClose *ngFor="let p of appPages" (click)="openPage(p)">
          <ion-icon *ngIf="p.icon!=='m2x'" item-left [name]="p.icon" [color]="isActive(p)">
          </ion-icon>

          <ion-avatar *ngIf="p.icon==='m2x'" item-left>
          <img id="m2x" src="assets/img/m2x1.jpg">
          </ion-avatar>

          {{p.title}}
        </button>
      </ion-list>

      <ion-list>
        <ion-list-header>
          Account
        </ion-list-header>
        <button ion-item menuClose *ngFor="let p of loggedOutPages" (click)="openPage(p)">
          <ion-icon *ngIf="!p.logsIn" item-left [name]="p.icon" [color]="isActive(p)"></ion-icon>
         
          <ion-avatar *ngIf="p.logsIn" item-left>
             <img src="assets/img/github.png">
          </ion-avatar>

          {{p.title}}
        </button>
      </ion-list>

      <ion-list>
        <ion-list-header>
          Tutorial
        </ion-list-header>
        <button ion-item menuClose (click)="openTutorial()">
          <ion-icon item-left name="hammer"></ion-icon>
          Show Tutorial
        </button>
      </ion-list>
    </ion-content>

  </ion-menu>

  <!-- logged in menu -->
  <ion-menu id="loggedInMenu" [content]="content">

    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="outer-content">

      <ion-list>
        <ion-list-header>
          Navigate
        </ion-list-header>
        <button ion-item menuClose *ngFor="let p of appPages" (click)="openPage(p)">
          <ion-icon *ngIf="p.icon!=='m2x'" item-left [name]="p.icon" [color]="isActive(p)">
          </ion-icon>

          <ion-avatar *ngIf="p.icon==='m2x'" item-left>
          <img id="m2x" src="assets/img/m2x1.jpg">
          </ion-avatar>

          {{p.title}}
        </button>
      </ion-list>

      <ion-list>
        <ion-list-header>
          Account
        </ion-list-header>
        <button ion-item menuClose *ngFor="let p of loggedInPages" (click)="openPage(p)">
          <ion-icon *ngIf="!p.logsOut" item-left [name]="p.icon" [color]="isActive(p)"></ion-icon>
          <ion-avatar *ngIf="p.logsOut" item-left>
             <img [src]="userData.getUserPicture()">
          </ion-avatar>
          {{p.title}}
          
        </button>

      </ion-list>

      <!--ion-list>
        <ion-list-header>
          Tutorial
        </ion-list-header>
        <button ion-item menuClose (click)="openTutorial()">
          <ion-icon item-left name="hammer"></ion-icon>
          Show Tutorial
        </button>
      </ion-list-->

    </ion-content>

  </ion-menu>

  <!-- main navigation -->
  <ion-nav [root]="rootPage" #content swipeBackEnabled="false" main></ion-nav>

</ion-split-pane>