<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Poster List</ion-title>
    <ion-buttons end>
      <button ion-button item-left (click)="add()">Add</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div padding>
  <ion-segment [(ngModel)]="lists">
    <ion-segment-button value="firebase" style="color: black">
      firebase
    </ion-segment-button>
    <ion-segment-button value="m2xdb" style="color: black" [style.visibility]="m2xposters">
      m2x
    </ion-segment-button>
  </ion-segment>
</div>
<div [ngSwitch]="lists">
  <ion-list *ngSwitchCase="'firebase'">
    <!-- Sliding item -->
    <ion-item-sliding  *ngFor="let item of posters | async">
    <ion-item >
    <ion-icon name="star" item-left></ion-icon>
      {{ (item.name)?item.name:item.m2xid}}
      <button ion-button item-right (click)="edit(item)">edit</button>
    </ion-item>
      <ion-item-options>
        <button ion-button color="danger" (click)="delete(item)">delete</button>
        <!-- button ion-button color="primary" (click)="edit(item)">edit</button-->
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>

  <ion-list *ngSwitchCase="'m2xdb'">

    <!-- Sliding item -->
    <ion-item-sliding   *ngFor="let item of m2xposters">
    <ion-item >
    <ion-icon *ngIf="item" name="star" item-left></ion-icon>
      {{getName(item)}}
      <!--(item.name)?item.name:item.id}}-->
      <button ion-button item-right (click)="edit(item)">edit</button>
    </ion-item>
      <ion-item-options>
        <button ion-button color="danger" (click)="delete(item)">delete</button>
        <!-- button ion-button color="primary" (click)="edit(item)">edit</button-->
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</div>
</ion-content>